# Generated ASM sources
*.s

# Object files
*.o
*.d

# Static libraries / load module unloads
*.a
*.iebcopy

# Build artifacts
build/
*.jcl
contrib/
dist/
.build-warnings
.mbt/
*.xmit

# Test binaries
test/test_*
!test/test_*.c

# IDE
compile_commands.json
.cache/

# Environment
.env

# OS
.DS_Store
